.banner {
    width: 100%;
    background-image: url(../../images/banner.png);
    height: 274px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 600;
    color: white;
}